.title {
    color: white;
    
}

body {
    background-color: pink;
}

.header {
  padding: 60px;
  position:fixed;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  width: auto;
  height: auto;
}



img {
    float: right; 
}