

body {
    background-color: pink;
    text-align: center;
}

#header {
  text-align: center;
  color: white;
  font-size: 20px;
  height: 50px;
}

.hidden {
  display: none;
}

.tabbuttons {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;  
  
}
/* Style the buttons that are used to open the tab content */
.tabbuttons button{
  background-color: green;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabbuttons:hover {
  background-color: blue;
}

/* Create an active/current tablink class */
.tabbuttons buttons.active {
  background-color: purple;
}



img {
    float: right; 
}